@model IEnumerable<Library>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="">Library Listings</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Library" asp-action="Create"><button class="btn btn-secondary">Create New</button></a>
        </div>
    </div>
    <br />


<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Author
            </th>
       
            <th>
                ISBN
            </th>
            
            <th>Options</th>
           

        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <tr>
                <td>
                    @obj.Title
                </td>
                 <td>
                    @obj.Author
                </td>
                <td>
                    @obj.ISBN
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                    <a class="btn btn-warning m-1" style="width:60px" asp-controller="Library" asp-action="Edit" asp-route-id="@obj.Id">Edit </a>
                    <a class="btn btn-danger m-1" style="width:60px" asp-controller="Library" asp-action="Delete" asp-route-id="@obj.Id">Delete </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

</div>